* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrap {
    width: 100vw;
    height: 100vh;

    display: grid;

    place-items: center;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.board > div {
    font-size: 2rem;
    padding: 1rem;

    border: 2px solid black;
    border-collapse: collapse;
}

div.data-id\=0, div.data-id\=1, div.data-id\=2 {
    border-top-width: 0px;
}

.board > div:hover {
    cursor: pointer;
}